.navbar{
    width: 100%;
    color: white;
    font-size: 12px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top,transparent 0%,rgb(0,0,0,0.3)50%);

    &.scollled{
        background-color: var(--main-color);
        border-bottom: 3px solid #F5C517
    }

    .contaner{
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
       
        .left{
            display: flex;
            align-items: center;
            img{
                height: 35px;
                padding-right: 12px;
    
            }
            .manubar{
                cursor:pointer;
                padding-right:10px;
               
            }
        }
        
        .searchbar{
            display: flex;
            align-items: center;
            height: 35px;
            color:black ;
            background-color:#F5C517;
             /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                width: 150px;
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
                width: 250px;
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
                width: 400px;
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                width: 900px;
            }

            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
                width:1000px
            } 
        }
        .right{
            display: flex;
            align-items: center;
           
        }

    }
    
}